td:nth-child(2) {
  max-width: 500px !important;
  min-width: 300px !important;
}
td > span{
  /* white-space: nowrap !important; */
}
.grid-demo .guree-row {
  min-height: 36px;
}
.grid-demo .guree-col {
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
}
.grid-demo .guree-col:nth-child(2n + 1) {
  background-color: #d3dce6;
}
.grid-demo .guree-col:nth-child(2n) {
  background-color: #e5e9f2;
}
.grid-demo.grid-row-demo .guree-col{
  margin: 8px 0;
}
.grid-demo.grid-gutter-demo .guree-col {
  background: transparent;
}
.grid-demo.grid-gutter-demo .guree-col .grid-item{
  width: 100%;
  height: 100%;
}
.grid-demo.grid-gutter-demo .guree-col .grid-item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
.grid-demo.grid-gutter-demo .guree-col .grid-item:nth-child(2n) {
  background-color: #e5e9f2;
}