@import "../../common/utils/index.scss";

.#{scopedClass(button)} {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 0.3em;
  cursor: pointer;

  & + & {
    margin-left: 8px;
  }
  &.large {
    padding: 10px 30px;
  }
  &.middle {
    padding: 6px 20px;
  }
  &.small {
    padding: 2px 10px;
  }
  > .action + span {
    margin-left: 6px;
  }
  &.default {
    color: #666;
    background-color: #fff;
  }
  &.primary {
    color: #fff;
    background-color: #409eff;
  }
  &.danger {
    color: #fff;
    background-color: #f56c6c;
  }
  &.warning {
    color: #fff;
    background-color: #e6a23c;
  }
  &.text {
    color: #fff;
    background-color: #67c23a;
  }
  &[disabled] {
    opacity: 0.35;
    cursor: default;
  }

  &:focus{
    outline: none;
    opacity: 0.8;
  }
}
