@import "../../common/utils/index.scss";

.#{scopedClass(form)} {
  &-item-label {
    display: flex;
    line-height: 1.5em;
    padding: 0 4px;
    &-left {
      justify-content: flex-start;
    }
    &-right {
      justify-content: flex-end;
    }
    &-input {
      &-error {
        border: 1px solid #f56c6c;
      }
    }
    &-error {
      color: #f56c6c;
    }
  }
}

.#{scopedClass(form-item)} {
  &-label {
    display: flex;
    &-left {
      justify-content: flex-start;
    }
    &-right {
      justify-content: flex-end;
    }
    &-required:before {
      content: "*";
      color: #f56c6c;
      margin-right: 4px;
    }
  }
  &-input {
    &-error {
      .guree-input {
        border: 1px solid #f56c6c;
      }
    }
  }
  &-error {
    line-height: 24px;
    min-height: 24px;
    color: #f56c6c;
  }
}
